web/damian/.idea/
web/damian/.mvn/
web/damian/.gradle/
web/damian/.settings/
web/damian/build/
web/damian/out/
web/damian/target/
web/damian/src/main/resources/application.properties
web/damian/.classpath
web/damian/.project
mobile/NotificationSystem/.gradle/
mobile/NotificationSystem/.idea/
mobile/NotificationSystem/gradle/wrapper
mobile/NotificationSystem/app/build